.scroller {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin
  /* scroller-border:10px; */
}

.scroller::-webkit-scrollbar {
  width: 13px;       
}
.react-emoji{
    display: flex;
  flex-direction: row-reverse;
}
.scroller::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}

.scroller::-webkit-scrollbar-thumb {     /* width of the entire scrollbar */
  background-color: gray;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}